
<div class="col-md-3">
    <p class="lead">{{shopName}}</p>
   <div blog-category-directive></div>
</div>


<div class="col-md-9">
<div class="row">
  <div class="col-sm-6 col-md-4"  ng-repeat='blog in blogs'>
    <div class="thumbnail">
      <a href="#/blog-detail/{{blog.slug}}">  
      <img src="{{imageUrl}}{{blog.image}}" alt="{{blog.title}}" height="130">
      <div class="block-label-left">New!</div>
      </a>
      <div class="caption">
        <h1><a href="#/blog-detail/{{blog.slug}}">{{blog.title}}</a></h1>
        <small>By: Shahzad on 26/3/2016</small>
        <p>{{blog.description | limitTo:30}}...</p>
      </div>    
    </div>
  </div>
</div>
</div>
